.container {
    font-family: ui-monospace;
    align-items: center;
    
    
}

body{
    background-image: url(https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font: bold;
    overflow: hidden;
   
    
}    
table{
    background-color: rgb(231, 236, 184);
    border: rgba(204, 37, 37, 0.849);
    box-shadow: 2px 2px 10px  black;
    font: bold;
    font-family:  "Lucida" Grande, sans-serif;



}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

@media (max-width: 900px){
    .container {
        width: 100%;
       
    }
}
